.detail > img{
  position:absolute;
  height:220px;
  width: 220px;
}

.detail > p, .detail > h3, .detail > h5, .detail > h4{
  margin-left:240px;
}


.detail > form{
  max-width: 100px;
  margin-left:240px;
}
