.detail > img, #modal_trigger_image{
  position:absolute;
  height:220px;
  width: 220px;
}

.detail > p, .detail > h3, .detail > h5, .detail > h4{
  margin-left:240px;
}

.product_image_text, .detail > p{
  font-size:14px;
}

.detail > form{
  max-width: 100px;
  margin-left:240px;
}
