.tile{
  height:220px;
  width:220px;
  border:1px solid;
  border-radius: 4px;
  box-shadow: 5px 5px 2px #D3D3D3;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  float:left;
  font-size:11px;
  line-height:16px;
}

p{
  display:inline;
}

.prod_img{
  margin-top:10px;
  height:120px;
  width:120px;
  margin-bottom:0px;
}
