/* Styles for unique maintainence_message and alert */
#maintainence_message{
  text-align: center;
}

#alert{
  position:fixed;
  top: 65px;
  right: 20px;
  z-index: 10;
  padding: 5px;
  opacity: .9;
}

.big_icon{
  font-size:2em;
}

#link_down{
  margin-bottom:100px;
}
