body{
  /*padding-top:64px; /* Same height as the fixed-top navbar */
  background-color:white;
}

p{
  font-size: 16px;
}

img{
  margin-bottom:25px;
}

footer{
  margin-top:75px;
  /*background-color:white;*/
  padding-top:19px;
  /*padding-bottom: 0px;*/
  /*color:#E6272E;*/
  /*position: relative;
  bottom:0;
  left:0;
  right:0;*/
}

#footer_copy{
  display: inline;
}

li > a > i{
  color:white;
  display:block;
  margin-left:-30px;
  margin-right:-10px;
}

.footer_buttons{
  color:#E6272E;
  margin-left:0px;
}

.row{
  padding-left:15px;
  padding-right:15px;
}

.transbox{
  margin-top: 214px;
  margin-bottom: 100px;
  /*margin-left:-40px;
  margin-right:-40px;*/
  padding:40px;
  background-color: white;
  color: black;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.transparent{
  opacity: .95;
}

.parallax-window {
    background: transparent;
    margin-bottom:75px;
    min-height:100%;
}

#loginbutton, #cartbutton{
  margin-top: 15px;
  margin-right: 15px;
  margin-left:20px;
}

#cartbutton{
  border-radius:15px;
  margin-left:15px;
  box-shadow:none;
}

.cart_quantity{
  margin-left:5px;
}

#navbar_icon{
  height:43.5px;
  margin-left:-15.5px;
}


/* Set colors for headings -- Same colors as Info, Warning, and Primary */
h1 {color: #0F0657}
h2 {
  color: #211C5A;
  font-size: 2.5em;
}
h3 {color: #A30622}
