/* Site-wide CSS styles */
body{
  padding-top:64px; /* Same height as the fixed-top navbar */
  background-color:white;
}

p{
  font-size: 16px;
}

img{
  margin-bottom:25px;
}

footer{
  margin-top:100px;
  background-color:#E6272E;
  padding-top:18px;
  padding-bottom:18px;
  color:white;
}

i{
  color:white;
  margin-top:19px;
  margin-right:10px;
  display:inline;
}


.transparent{
  opacity: .95;
}

#loginbutton{
  margin-top: 15px;
  margin-right: 20px;
}

#main_logo{
   margin-top:30px;
}

/* Set colors for headings -- Same colors as Info, Warning, and Primary */
h1 {color: #0F0657}
h2 {color: #211C5A}
h3 {color: #A30622}
