body{
  /*padding-top:64px; /* Same height as the fixed-top navbar */
  background-color:white;
}

p{
  font-size: 16px;
}

img{
  margin-bottom:25px;
}

footer{
  margin-top:100px;
  background-color:#E6272E;
  padding-top:18px;
  color:white;
}

i{
  color:white;
  margin-top:19px;
  margin-right:10px;
  display:inline;
}

.top_cover{
  background-attachment:fixed;
  background-size:cover;
  background-image:url(http://2.bp.blogspot.com/-kwfswk9D2kI/VYC0yWxy84I/AAAAAAAADYo/F1Q3cpPj0kA/s1600/canon.JPG);
  /*margin-bottom:50px;*/
}

.transbox{
  margin-top: 264px;
  margin-bottom: 200px;
  /*margin-left:-40px;
  margin-right:-40px;*/
  padding:40px;
  background-color: white;
  color: black;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.transparent{
  opacity: .95;
}

.parallax-window {
    background: transparent;
    margin-bottom:75px;
}

#loginbutton, #cartbutton{
  margin-top: 15px;
  margin-right: 15px;
}

#cartbutton{
  border-radius:10px;
  margin-left:15px;
  box-shadow:none;
}

#cart_quantity{
  margin-left:5px;
}

#navbar_icon{
  height:43.5px;
  margin-left:-15.5px;
}

/* Set colors for headings -- Same colors as Info, Warning, and Primary */
h1 {color: #0F0657}
h2 {color: #211C5A}
h3 {color: #A30622}
