#top{
  background-color:#A30622;
  color:white;
}

#left{
  background-color:#A3192E;
  color:white;
}

#center{
  background-color:#0F0657;
  color:white;
}

#right{
  background-color:#211C5A;
  color:white;
}

#footer{
  background-color:green;
  color:white;
}

#title{
  background-color:yellow;
}