/*input
{
   display: inline;
   width: 400px;
   margin-left: 20px;
   height: 34px;
   line-height: 1.42857143;
 }*/

input:requred:focus{
  border:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label{
  font-weight:bold;
  font-size: 16px;
  padding-right:25px;
}
