/*input, select
{
   height: 34px;
   width:auto;
 }*/

td, th, span{
  font-size:10px;
}

input[type=checkbox]{

}

input:requred:focus{
  border:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label{
  font-weight:bold;
  font-size: 16px;
  padding-right:25px;
}
