<%inherit file ="app_base.htm" />

<%block name="top_content_area">
  <h3>Edit Event:</h3>
  <hr />
  <br />
  <form method="POST">
    <table>
      ${ form.as_table() }
    </table>
    <br />
    <input type="submit" class="btn btn-primary" value="Save Changes" />
  </form>
  <br />
  <h3>Areas at this Event:</h3>
  <hr />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Area Name</th>
      <th>Description</th>
      <th>Place Number</th>
      <th>Edit | Delete</th>
    </tr>
    %for area in areas:
      <tr>
        ## %if area.event.id == request.urlparams[0]:
        <td>${area.name}</td>
        <td>${area.description}</td>
        <td>${area.place_number}</td>
        <td>
          <a href="/manager/areas.edit/${ area.id }">Edit</a>
           |
          <a href="" class="delete_area_button">Delete</a>
        </td>
        ## %endif
      </tr>
    %endfor
  </table>
</%block>
