<%inherit file ="app_base.htm" />

<%block name="top_content_area">
  <h3>Edit Event:</h3>
  <hr />
  <br />
  <form method="POST">
    <table>
      ${ form.as_table() }
    </table>
    <br />
    <input type="submit" class="btn btn-primary" value="Save Changes" />
  </form>
  <br />
  <h3>Areas at this Event:</h3>
  <hr />
  <br />
  <a href="/manager/areas.create/" class="btn btn-primary" id="new_area_button" data-eventID="${ event_id }">Create New Area</a>
  <br />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Area Name</th>
      <th>Description</th>
      <th>Place Number</th>
      <th>Edit | Delete</th>
    </tr>
    %for area in areas:
      <tr>
        <td>${area.name}</td>
        <td>${area.description}</td>
        <td>${area.place_number}</td>
        <td>
          <a href="/manager/areas.edit/${ area.id }" class="edit_area_button" data-areaID="${ area.id }">Edit</a>
           |
          <a href="/manager/areas.delete/${ area.id }/" class="delete_area_button">Delete</a>
        </td>
        ## %endif
      </tr>
    %endfor
  </table>

  <!-- Delete Modal -->
  <div class="modal fade" id="delete_area_modal" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
       </div><!-- modal-header -->
       <div class="modal-body">
         Delete this area?
       </div><!-- modal-body -->
       <div class="modal-footer">
         <a id="confirm_delete_area_button" href="" class="btn btn-danger">Delete</a>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div><!-- modal-footer -->
     </div><!-- modal-content -->
   </div><!-- modal-dialog -->
 </div><!-- modal -->
</%block>
