<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>All events:</h3>
  <hr />
  <br />
  <a href="/manager/events.create/" class="btn btn-primary">Create A New event</a>
  <br />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Event Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Venue</th>
      <th>Edit | Delete</th>
    </tr>
    %for event in events:
      <tr>
        <td>${event.name}</td>
        <td>${event.description}</td>
        <td>${event.start_date}</td>
        <td>${event.end_date}</td>
        <td>${event.venue}</td>
        <td>
          <a href="/manager/events.edit/${ event.id }/">Edit</a>
           |
          <a href="/manager/events.delete/${ event.id }/" class="delete_event_button">Delete</a>
        </td>
      </tr>
    %endfor
  </table>

  <!-- Modal -->
  <div class="modal fade" id="delete_event_modal" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
       </div><!-- modal-header -->
       <div class="modal-body">
         Delete this event?
       </div><!-- modal-body -->
       <div class="modal-footer">
         <a id="confirm_delete_event_button" href="" class="btn btn-danger">Delete</a>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div><!-- modal-footer -->
     </div><!-- modal-content -->
   </div><!-- modal-dialog -->
 </div><!-- modal -->
</%block>
