<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>Colonial Heritage Foundation Administrator Area</h3>
  <hr />
  <br />
  ## <h4>CRUD functionality available for each of the following areas:</h4>
  <p>Welcome to the admin area of chfsales.com.</p>
  <ul id="CRUD_list">
    <li><a href="/manager/users">Users</a></li>
    <li><a href="/manager/products">Products</a></li>
    <li><a href="/manager/categories">Categories</a></li>
    <li><a href="/manager/sales">Sales</a></li>
    <li><a href="/manager/venues">Venues</a></li>
    <li><a href="/manager/events">Events</a></li>
  </ul>
</%block>
