<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>All Products:</h3>
  <hr />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Description</th>
      <th>Image</th>
      <th>Date Added</th>
      <th>Other Info</th>
      <th>Edit | Delete</th>
    </tr>
    %for product in products:
      <tr>
        <td>${product.name}</td>
        <td>${ product.__class__.className }</td>
        <td>${product.description}</td>
        <td>${product.image}</td>
        <td>${product.add_date}</td>
        <td>
          Rental Product
          ## %if type(product) = "RentalProduct"
          ##   ${product.status}
          ## %else if type(product) = "IndividualProduct"
          ##   ${product.creator}
          ## %else #if BulkProduct
          ##   ${product.quantity}
          ## %endif
        </td>
        <td>
          <a href="/manager/products.edit/${ product.id }/">Edit</a>
           |
          <a href="/manager/products.delete/${ product.id }/" class="delete_product_button">Delete</a>
        </td>
      </tr>
    %endfor
  </table>
  <br />
  <a href="/manager/products.create/" class="btn btn-primary">Create A New Product</a>

  <!-- Modal -->
  <div class="modal fade" id="delete_product_modal" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
       </div><!-- modal-header -->
       <div class="modal-body">
         Delete this event?
       </div><!-- modal-body -->
       <div class="modal-footer">
         <a id="confirm_delete_product_button" href="" class="btn btn-danger">Delete</a>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div><!-- modal-footer -->
     </div><!-- modal-content -->
   </div><!-- modal-dialog -->
 </div><!-- modal -->
</%block>
