<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>All Products:</h3>
  <hr />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Phone Number</th>
      <th>Edit | Delete</th>
    </tr>
    %for product in products:
      <tr>
        <td>${product.productname}</td>
        <td>${product.first_name}</td>
        <td>${product.last_name}</td>
        <td>${product.email}</td>
        <td>${product.address1}</td>
        <td>${product.address2}</td>
        <td>${product.city}</td>
        <td>${product.state}</td>
        <td>${product.zip_code}</td>
        <td>${product.phone_number}</td>
        <td>
          <a href="/manager/products.edit/${ product.id }/">Edit</a>
           |
          <a href="/manager/products.delete/${ product.id }/" id="delete_button">Delete</a>
        </td>
      </tr>
    %endfor
  </table>
  <br />
  <a href="/manager/products.create/" class="btn btn-primary">Create A New Product</a>
</%block>
