<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>All Users:</h3>
  <hr />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Phone Number</th>
      <th>Birth Date</th>
      <th>Groups</th>
      <th>Edit | Change Password | Delete</th>
    </tr>
    %for user in users:
      <tr>
        <td>${user.username}</td>
        <td>${user.first_name}</td>
        <td>${user.last_name}</td>
        <td>${user.email}</td>
        <td>${user.address1}</td>
        <td>${user.address2}</td>
        <td>${user.city}</td>
        <td>${user.state}</td>
        <td>${user.zip_code}</td>
        <td>${user.phone_number}</td>
        <td>${user.birth}</td>
        <td>${user.groups}
          ## %if user.is_staff:
          ##   Admin
          ## %endif
          ## %if not user.is_staff:
          ##   %if user.is_superuser == True:
          ##     Volunteer
          ##   %else:
          ##     Basic User
          ##   %endif
          ## %endif
        </td>
        <td>
          <a href="/manager/users.edit/${ user.id }/">Edit</a>
           |
          <a href="/manager/users.password/${ user.id }/">Change Password</a>
          |
          <a href="/manager/users.delete/${ user.id }/" class="delete_button">Delete</a>
        </td>
      </tr>
    %endfor
  </table>
  <br />
  <a href="/manager/users.create/" class="btn btn-primary">Create A New User</a>

  <!-- Modal -->
  <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
       </div><!-- modal-header -->
       <div class="modal-body">
         Delete this user?
       </div><!-- modal-body -->
       <div class="modal-footer">
         <a id="confirm_delete_button" href="" class="btn btn-danger">Delete</a>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div><!-- modal-footer -->
     </div><!-- modal-content -->
   </div><!-- modal-dialog -->
 </div><!-- modal -->
</%block>
