<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>All venues:</h3>
  <hr />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Venue Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Edit | Delete</th>
    </tr>
    %for venue in venues:
      <tr>
        <td>${venue.name}</td>
        <td>${venue.address}</td>
        <td>${venue.city}</td>
        <td>${venue.state}</td>
        <td>${venue.zip_code}</td>
        <td>
          <a href="/manager/venues.edit/${ venue.id }/">Edit</a>
           |
          <a href="/manager/venues.delete/${ venue.id }/" id="delete_button">Delete</a>
        </td>
      </tr>
    %endfor
  </table>
  <br />
  <a href="/manager/venues.create/" class="btn btn-primary">Create A New venue</a>
</%block>
