<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <h3>All Venues:</h3>
  <hr />
  <br />
  <table class="table table-striped">
    <tr>
      <th>Venue Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Edit | Delete</th>
    </tr>
    %for venue in venues:
      <tr>
        <td>${venue.name}</td>
        <td>${venue.address}</td>
        <td>${venue.city}</td>
        <td>${venue.state}</td>
        <td>${venue.zip_code}</td>
        <td>
          <a href="/manager/venues.edit/${ venue.id }/">Edit</a>
           |
          <a href="/manager/venues.delete/${ venue.id }/" id="delete_venue_button">Delete</a>
        </td>
      </tr>
    %endfor
  </table>
  <br />
  <a href="/manager/venues.create/" class="btn btn-primary">Create A New venue</a>

  <!-- Modal -->
  <div class="modal fade" id="delete_venue_modal" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
       </div><!-- modal-header -->
       <div class="modal-body">
         Delete this venue?
       </div><!-- modal-body -->
       <div class="modal-footer">
         <a id="confirm_delete_venue_button" href="" class="btn btn-danger">Delete</a>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div><!-- modal-footer -->
     </div><!-- modal-content -->
   </div><!-- modal-dialog -->
 </div><!-- modal -->
</%block>
