<%inherit file="/homepage/templates/base.htm" />

# Leave these blocks blank
<%block name="maintainence_container"></%block>
<%block name="maintainence_message"></%block>
<%block name="alert"></%block>

<%block name="top_content_area">
  <img src="${ STATIC_URL }homepage/media/pics/CHFLogo.png" class="img-responsive center-block" id="main_logo"/>
  <hr/>
  <br/>
</%block>

<%block name="content_left">
  <a class="btn btn-primary" href="/catalog/index/">View All Products</a>
  <br />
  <br />
  <h5>Search For a Product:</h5>
  ## This needs to be a form! Use method="GET"
  <form method="GET" action="/catalog/search/">
    <input type="text" name="q" class="form-control"/>
    <br />
    <input type="submit" value="Search" class="btn btn-primary"/>
  </form>

  <br />
  <h5>Filter By Category:</h5>
  <a href="/catalog/index">View All</a>
  <br />
  %for category in categories:
    <a href="/catalog/index/${category.id}">${category.name}</a></li>
    <br />
  %endfor
</%block>

<%block name="content_right">
  <h5>Recently Viewed Products:</h5>
  <hr />
  %for product in recent_products_list:
    <a href="/catalog/detail/${product.id}">
      <div class="recent">
        %for image in images:
          %if image.product == product:
            <img src="${ STATIC_URL }catalog/media/pics/${ image.filename }" alt="${product.name}" class="img-responsive center-block prod_img"/>
            <% break %>
          %endif
        %endfor
        <p>${product.name}</p>
        <div class="clearfix"></div>
      </div><!-- recent -->
    </a>
  %endfor
</%block>
