<%inherit file="/homepage/templates/base.htm" />

<%block name="top_content_area">
  <img src="${ STATIC_URL }homepage/media/pics/CHFLogo.png" class="img-responsive center-block" id="main_logo"/>
</%block>

<%block name="column_container_type">
  ## Makes container for columns section fluid
  <div class="container-fluid">
  <hr/>
  <br/>
</%block>

<%block name="content_left">
  <a id="all_products_button" class="btn btn-primary" href="/catalog/index/">View All Products</a>
  <br />
  <br />
  <h5>Search For a Product:</h5>
  <form method="GET" action="/catalog/search/">
    <input type="text" name="q" class="form-control" placeholder="Search"/>
    <br />
    <input type="submit" value="Search" class="btn btn-primary"/>
  </form>
  <br />
  <h5>Filter By Category:</h5>
  <a href="/catalog/index">View All</a>
  <br />
  %for category in categories:
    <a href="/catalog/index/${category.id}">${category.name}</a></li>
    <br />
  %endfor
</%block>

<%block name="content_right">
  <h5>Recently Viewed Products:</h5>
  <hr />
  %for p in request.shopping_cart.get_viewed_items():
    <a href="/catalog/detail/${p.id}">
      <div class="recent">
        <img src="${ STATIC_URL }catalog/media/pics/${ p.get_image_filename() }" alt="${p.name}" class="img-responsive img-circle center-block prod_img"/>
        <p>${ p.name }</p>
        <div class="clearfix"></div>
      </div><!-- recent -->
    </a>
  %endfor
</%block>

## Add this to disable the parallax window
<%block name="parallax_start"></%block>
<%block name="parallax_end"></%block>
<%block name="transbox_start"></%block>
<%block name="transbox_end"></%block>
# Leave these blocks blank
<%block name="maintainence_container"></%block>
<%block name="maintainence_message"></%block>
<%block name="alert"></%block>
