<%inherit file="homepage/templates/base_ajax.htm" />

<%block name="content">
  <%! from catalog import models as cmod %>
  <div class="add_form">
    ${form.non_field_errors()}
    <form action="/catalog/cart.add/${p.id}/" method="POST">
      %if isinstance(p, cmod.BulkProduct):
        ${form['quantity'].errors}
        ${form['quantity']}
      %endif
      %if isinstance(p, cmod.IndividualProduct):
        ${form['quantity'].errors}
      %endif
      <input type="submit" class="btn btn-primary" value="Add to Cart" id="AddButton"/>
    </form>

    ## did we just submit the form?
    %if form.is_valid():
      <div>
        Added! <a href="/catalog/cart/">View Cart</a>
      </div>
    %endif
  </div><!-- add_form -->
</%block>
