<%inherit file="app_base.htm" />

<%block name="content">
  <h3 class="text-center">Order Summary</h3>
  <hr />
  <br />
  <h4>Order:</h4>
  <table class="table table-condensed table-striped">
    <tr>
      <th>Item</th>
      ## <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Item Total</th>
    </tr>
    %for p in request.shopping_cart.get_items():
    <tr>
      <td>${p.name}</td>
      ## <td><img src="${STATIC_URL}catalog/media/pics/${p.filename}" class="img img-responsive cart_images" alt="${p.name}"</td>
      <td>$${p.price}</td>
      <td>${p.quantity}</td>
      <td>$${p.calc_extended()}</td>
    </tr>
    %endfor
    <tr> <!--Subtotal -->
      <td><b>Subtotal:</b></td>
      <td></td>
      <td></td>
      <td>$${request.shopping_cart.calc_subtotal()}</td>
    </tr>
    <tr> <!-- Tax -->
      <td><b>Tax:</b></td>
      <td></td>
      <td></td>
      <td>$${request.shopping_cart.calc_tax()}</td>
    </tr>
    <tr> <!-- Shipping -->
      <td><b>Shipping:</b></td>
      <td></td>
      <td></td>
      <td>$${request.shopping_cart.calc_shipping()}</td>
    </tr>
    <tr> <!-- Total Price -->
      <td><b>Total:</b></td>
      <td></td>
      <td></td>
      <td><b>$${request.shopping_cart.calc_total()}</b></td>
    </tr>
  </table>
  <h4>Shipping Information</h4>
  <table class="table table-condensed">
    <tr>
      <td>Shipping Name:</td>
      <td>Jordan Widdison</td>
    </tr>
    <tr>
      <td>Shipping Address:</td>
      <td>13661 Bridle Trail Rd</td>
    </tr>
    <tr>
      <td>Shipping City:</td>
      <td>Draper</td>
    </tr>
    <tr>
      <td>Shipping State:</td>
      <td>UT</td>
    </tr>
    <tr>
      <td>Shipping Zip Code:</td>
      <td>84020</td>
    </tr>
  </table>
  <hr />
  <div class="checkbox">
    <label>
      <input type="checkbox" id="verify_checkbox">I have verified that the above information is correct and agree to pay the amount shown.</input>
    </label>
  </div>
  <br />
  <div id="pay_button">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="${ settings.STRIPE_PUBLIC_KEY }"
      data-amount="${request.shopping_cart.calc_stripe_total()}"
      data-name="Checkout - CHFSales.com"
      data-description="Purchase ${request.shopping_cart.get_item_count()} items in cart"
      data-image="${ STATIC_URL }homepage/media/pics/eagle.png"
      data-locale="auto">
    </script>
  </div>
</%block>
