<%inherit file="app_base.htm" />

<%block name="content">
  <div class="detail">
    %for image in images:
      %if image.product == p:
        <img src="${ STATIC_URL }catalog/media/pics/${image.filename}" alt="${p.name}" class="img-responsive"/>
        <% break %>
      %endif
    %endfor
    <h3>${p.name}</h3>
    <h4>${p.price}</h4>
    <p>Product Type: ${p.__class__.className}</p>
    <p>${p.description}</p>
    %if p.__class__.className == 'Bulk Product':
      <h5>Only ${p.quantity} left!</h5>
    %endif
    <div class="clearfix"></div>
    <form class="form-inline" action="">
      <label for="quantity">Quantity:</label>
      <input name ="quantity" type="number" class="form-control" value="1"/>
      <div class="clearfix"></div>
      <br />
      <input type="submit" class="btn btn-primary" value="Purchase" />
    </form>
  </div>

  <!-- Image carousel modal -->
</%block>
