<%! from catalog import models as cmod %>
<%inherit file="app_base.htm" />

<%block name="content">
  <div class="detail">
    <img src="${ STATIC_URL }catalog/media/pics/${p.get_image_filename()}" alt="${p.name}" class="img-responsive"/>
    <a href="/catalog/detail.carousel/${p.id}" class="btn btn-primary launch_modal_button" data-pid="${p.id}" data-pname="${p.name}">
      Additional Images
    </a>
    <h3>${p.name}</h3>
    <h4>$${p.price}</h4>
    <p>Product Type: ${p.__class__.className}</p>
    <p>${p.description}</p>
    %if isinstance(p, cmod.BulkProduct):
      <h5>${p.quantity} left in stock</h5>
    %endif
    <div id="add_form_placeholder"></div>
  </div><!-- detail -->
</%block>
