<%inherit file="app_base.htm" />

<%block name="content">
  %for product in products:
    <a href="/catalog/detail/${product.id}">
      <div class="tile text-center center-block animated slideUpIn">
        <img src="${ STATIC_URL }catalog/media/pics/${ product.get_image_filename() }" alt="${product.name}" class="img-responsive center-block prod_img"/>
        <br />
        <p><b>${ product.name }</b></p>
        <br />
        <p>$${ product.price }</p>
        <br />
        <p>${ product.category }</p>
        <br />
        <p>${ product.__class__.className }</p>
      </div><!-- tile -->
    </a>
  %endfor
</%block>
