<%inherit file="app_base.htm" />


<%block name="top_content_area">
  <h3 style="margin-top:75px;">Receipt</h3>
  <hr />
  <br />
  <p>Thank you for your purchase!  Please keep a copy of this recipt for your records.</p>
  <h4>Ship To:</h4>
  <ul style="list-style:none">
    <li>${sale.ShipName}</li>
    <li>${sale.ShipAddress}</li>
    <li>${sale.ShipCity}</li>
    <li>${sale.ShipState}</li>
    <li>${sale.ShipZipCode}</li>
  </ul>
  <h4>Tracking Number:</h4>
  <p>${sale.TrackingNumber}</p>
  <h4>Order:</h4>
  <table class="table table-condensed table-striped">
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Item Total</th>
    </tr>
    %for si in saleitems:
      %if si.Description == 'Tax':
        <tr>
          <td></td>
          <td></td>
          <td><b>Tax:</b></td>
          <td>$${si.Extended}</td>
        </tr>
      %elif si.Description == 'Shipping':
        <tr>
          <td></td>
          <td></td>
          <td><b>Shipping:</b></td>
          <td>$${si.Extended}</td>
        </tr>
      %else:
        <tr>
          <td><b>${si.Description}</b></td>
          <td>$${si.Price}</td>
          <td>${si.Quantity}</td>
          <td>$${si.Extended}</td>
        </tr>
      %endif
    %endfor
    <tr> <!-- Total Price -->
      <td></td>
      <td></td>
      <td><b>Total:</b></td>
      <td><b>$${sale.TotalPrice}</b></td>
    </tr>
  </table>
  <h4>Thank you for your order!</h4>
  <a href="/catalog/index/">Continue Shopping</a>
</%block>


## Blocks to leave blank here
<%block name = "base_header"></%block>
<%block name = "footer_outer"></%block>
<%block name = "column_layout"></%block>
