<%inherit file="app_base.htm" />

<%block name="top_content_area">
  <div class="text-center">
    <img src="${ STATIC_URL }homepage/media/pics/CHFLogo.png" class="img-responsive center-block" id="main_logo"/>
    <hr/>
    <br/>
    <h2>Contact Us</h2>
    <a><span class="glyphicon glyphicon-chevron-down big_icon"></span></a>
  </div>
</%block>

<%block name="content">
  <div id="link_down"></div>
  <p class="lead text-center">Get in touch with someone from the colonial heritage foundation using the form below</p>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="center-block text-center">
      <p>${sentmessage}</p>
        <form class="form-horizontal text-center" method="POST">
          <table>
            ${form.as_table()}
          </table>
          <input type="submit" class="btn btn-primary" value="Send" id="send_button">
          <input type="reset" class="btn btn-default" value="Clear" id="clear_button">
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</%block>

<%block name="content_left"></%block>
<%block name="content_right"></%block>
