<%inherit file="app_base.htm" />

<%block name="content">
  <img class="img-responsive img-rounded center-block" src="${ STATIC_URL }homepage/media/pics/riflemen.jpg" alt="Gove Bread"/>
  <h3>Welcome to ColonialHeritage.org</h3>
  <hr/>
  <br/>
  <p>The Colonial Heritage Foundation is an organization dedicated to the preservation of the values, culture, skills and history of America's founding. To accomplish this mission, the Foundation engages in a broad array of activities. Among these are the development and presentation of educational exhibits, the coordination of reading and discussion groups to encourage the study of America's historical writings, the presentation of lectures and seminars regarding America's founding era, the coordination of historical reenactments and skill demonstrations, and the coordination of internships and apprenticeships that teach the occupational skills of early America.</p>
  <hr/>
  <br/>
  <a href="/about"><button class="btn btn-primary center-block">Learn More</button></a>
</%block>
