<%inherit file="app_base.htm" />

<%block name="top_content_text">
  <div class="text-center">
    <h2>Upcoming Colonial Heritage Foundation Events</h2>
    <a><span class="glyphicon glyphicon-chevron-down big_icon"></span></a>
  </div>
</%block>

<%block name="content">
  <div id="link_down"></div>
  <h3>Upcoming Events</h3>
  <hr />
  <br />
  <p class="lead">Take a look at upcoming Colonial Heritage Foundation events.  Be sure to visit our <a href="/contact">contact</a> page if you have any questions.</p>
  ## <div class="row">
  ##   <div class="col-md-8">
      <table class="table table striped">
        <tr>
          <th>Event Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Location</th>
        </tr>
        %for event in events:
          <tr>
            <td>${event.name}</td>
            <td>${event.description}</td>
            <td>${event.start_date}</td>
            <td>${event.end_date}</td>
            <td>${event.venue}</td>
          </tr>
        %endfor
      </table>
  ##   </div><!-- col-md-8 -->
  ##   <div class="col-md-4">
  ##     Put a picture here.
  ##   </div><!-- col-md-4 -->
  ## </div><!-- row -->
</%block>
